*.bak
*.csv
*.dat
*.DS_Store
*.gz
*.log
*.out
*.pid
*.seed
*.swo
*.swp
*.sublime-workspace
*.tmp

.DS_Store
.buildpath
.idea/
.log
.project
.settings
.tmpoj

auth_info.js
build
desktop.ini
dist
doc/
examples/*/log/*
lib-cov
logs
nbproject/
node_modules
npm-debug.log
pids
results
spec/browser/autogen_suite.js
tags
Thumbs.db
tmtags
v8.log