block nav

    section.nav
        ul#open-files.nav-section OPENFILES

        h5.nav-section FOLDERS

            h5.nav-section.folder docs
            
            ul.file-list
                li#language-folder.nav-section.folder-open  languages
                li#css-file.file-name.tab1(key="css") css-sample.css 
                li.file-name.tab1(key="html") html-sample.html 
                li.file-name.tab1(key="jade") jade-sample.jade
                li.file-name.tab1(key="javascript") javascript-sample.js 
                li.file-name.tab1(key="json") json-sample.json
                li.file-name.tab1(key="php") php-sample.php 
                li.file-name.tab1(key="ruby") ruby-sample.rb 
                li.file-name.tab1(key="sass") sass-sample.sass 
                li.file-name.tab1(key="stylus") stylus-sample.styl 
                li.file-name.tab1(key="xml") xml-sample.xml

            section
                h5.nav-section.folder themes
                h5.nav-section.folder color schemes

            
