extends ../code_layout

block append js

    section.content
        
        include ../ui/tabs

        section.code

            //- DOCTYPE
            span.editable-region.foreground(attr="foreground") &lt;!DOCTYPE html&gt;

            //- HTML OPEN
            div.br
                span.editable-region.foreground(attr="foreground") &lt;
                span.editable-region.tag(attr="tag") html
                span.editable-region.attribute(attr="attribute") lang
                span.editable-region.foreground(attr="foreground") =
                span.editable-region.string(attr="string") "en-US" 
                span.editable-region.foreground(attr="foreground") &gt;

            //- HEAD OPEN
            div.tab1.br
                    span.editable-region.foreground(attr="foreground") &lt;
                    span.editable-region.tag(attr="tag") head
                    span.editable-region.foreground(attr="foreground") &gt;

            //- META TAG
            div.tab2
                span.editable-region.foreground(attr="foreground") &lt;
                span.editable-region.tag(attr="tag") meta 
                span.editable-region.attribute(attr="attribute") charset
                span.editable-region.foreground(attr="foreground") =
                span.editable-region.string(attr="string") "utf-8" 
                span.editable-region.foreground(attr="foreground") &gt;

            //- TITLE
            div.tab2
                span.editable-region.foreground(attr="foreground") &lt;
                span.editable-region.tag(attr="tag") title
                span.editable-region.foreground(attr="foreground") &gt;Site Title&lt;
                span.editable-region.tag(attr="tag") title
                span.editable-region.foreground(attr="foreground") &gt;

            //- JS LINK
            div.script.tab2.br
                span.editable-region.foreground(attr="foreground") &lt;
                span.editable-region.tag(attr="tag") script 
                span.editable-region.attribute(attr="attribute") src
                span.editable-region.foreground(attr="foreground") =
                span.editable-region.string(attr="string") "js/app.js"
                span.editable-region.foreground(attr="foreground") &gt;
                span.editable-region.foreground(attr="foreground") &lt;/
                span.editable-region.tag(attr="tag") script
                span.editable-region.foreground(attr="foreground") &gt;

            //- INLINE JS

            //- HEAD CLOSE
            div.tab1.br
                span.editable-region.foreground(attr="foreground") &lt;/
                span.editable-region.tag(attr="tag") head
                span.editable-region.foreground(attr="foreground") &gt;

            //- BODY OPEN
            div.tab1.br
                span.editable-region.foreground(attr="foreground") &lt;
                span.editable-region.foreground(attr="foreground") body
                span.editable-region.foreground(attr="foreground") &gt;


            div.tab2.br
                span.editable-region.comment(attr="comment") &lt;!-- THIS IS AN HTML COMMENT --&gt;

            div.tab2
                span.editable-region.foreground(attr="foreground") &lt;
                span.editable-region.tag(attr="tag") header
                span.editable-region.foreground(attr="foreground") &gt;

            div.tab3
                span.editable-region.foreground(attr="foreground") &lt;
                span.editable-region.tag(attr="tag") h1 
                span.editable-region.attribute(attr="attribute") class
                span.editable-region.foreground(attr="foreground") =
                span.editable-region.string(attr="string") "header"
                span.editable-region.foreground(attr="foreground") &gt;Greetings!&lt;/
                span.editable-region.tag(attr="tag") h1
                span.editable-region.foreground(attr="foreground") &gt;

            div.tab2.br
                span.editable-region.foreground(attr="foreground") &lt;/
                span.editable-region.tag(attr="tag") header
                span.editable-region.foreground(attr="foreground") &gt;


            //- BODY CLOSE
            div.tab1
                span.editable-region.foreground(attr="foreground") &lt;/
                span.editable-region.tag(attr="tag") body
                span.editable-region.foreground(attr="foreground") &gt;

            //- HTML CLOSE
            div
                span.editable-region.foreground(attr="foreground") &lt;/
                span.editable-region.tag(attr="tag") html
                span.editable-region.foreground(attr="foreground") &gt;


