codeMargin = 22

.code-bg 
    background-color #444

.code
    padding 10px 10px 10px 10px
    font-family "BitstreamVeraSansMonoRoman", Andale Mono, monospace
    font-size: 15px;
    color: rgba(255, 255, 255, 0.5)

.tab1
    margin-left codeMargin px

.tab2
    margin-left codeMargin*2px

.tab3
    margin-left codeMargin*3px

.tab4
    margin-left codeMargin*4px


// HTML COLORS

.html .tag
    color #F9B4AF

.html .comment
    color #44544D

.html .attribute
    color: #DFDBBB

.html .text
    color #857C6B

.html .script
    color #D6432D
