.left, .right
  width 45%
  float left
  -webkit-box-sizing border-box
  -moz-box-sizing border-box
  box-sizing border-box
  margin 2.5%
  margin-top 0px

.full
  -webkit-box-sizing border-box
  -moz-box-sizing border-box
  box-sizing border-box
  margin 2.5%
  margin-top 20px
  margin-bottom 30px


  
#home-search
  width 250px

#home-search-btn
  position relative
  top 5px
  left -35px

#site-logo
  opacity 1
  transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out;

#site-logo:hover
  opacity 0.5

// Generator

.generator-result-set
  background-color #D1D5D4
  padding-bottom 1px
  margin-bottom 20px
  overflow hidden
  border solid 1px rgba(0,0,0,0.8)

.generator-result-set.taken
  padding-bottom 0

.generated-name-container
  -webkit-box-sizing border-box
  -moz-box-sizing border-box
  box-sizing border-box
  background #323232
  color #FFF
  font-size 1.385em
  padding 0.5em
  font-weight 300
  display block
  width 100%
  margin-top 15px

.generated-name
  margin-top 10px
  margin-bottom 20px

.generated-name-item
  list-style none
  margin 0px
  margin-bottom 5px

.generated-name-header
  font-weight 400
  font-size 1.7em

.generated-name-save, .generated-name-claim, .generated-name-info
  padding-right 10px
  font-weight 500

.generated-name-status
  color color-grey
  margin 0px 0px 0px 10px
  padding 3px 8px 3px 8px
  font-size 0.8em
  round(3px)
  font-weight normal

.generated-name-info
  background-color color-primary
  color color-primary-text
  margin-left 10px
  padding 3px 8px 3px 8px
  font-size 0.8em
  round(3px)
  font-weight normal
  float right
  transition(background-color)

.generated-name-info:hover
  background-color color-secondary
  color color-primary-text

.generated-name-actions
  display block
  margin-top 5px

#generator-spinner {
  position absolute
  margin-top 20px
  z-index 0
  opacity 0.5
}


img#generator-refresh {
  margin-bottom -8px
  margin-right 5px
}

#regenerate-label {
}

#regenerate {
  position relative
  font-size 17px
  font-weight bold
  color color-grey-dark
  top 20px
  float right
  transition(opacity)
  cursor pointer
}

#regenerate:hover {
  opacity 0.6
}

// status

.available, .good
    background-color color-good
    color color-good-text

.taken, .bad
    background-color color-bad
    color color-bad-text

.similar, .warning
    background-color color-warning
    color color-warning-text

.unknown
    background-color color-grey-dark
    color color-grey-text

.info, .possible
    background-color color-info
    color color-info-text


.available-text, .good-text
    color color-good

.taken-text, .bad-text
    color color-bad

.similar-text, .warning-text
    color color-warning

.unknown-text
    color color-grey-dark

.info-text, .possible-text
    color color-info

/* Home */