img = '../img/'


/* Colors */

color-primary = #5ACAED
color-primary-dark = #52C0E9
color-primary-text = color-white

color-secondary = #8966AC
color-secondary-dark = #784A98
color-secondary-text = color-white

color-black = #292929
color-black-text = color-white

color-white = #FFFFFF
color-white-text = color-black

color-grey = #B2B4B4
color-grey-text = color-white
color-grey-dark = #848D8C
color-grey-light = #D1D5D4

font-color = #B2B4B4


color-bad = #CE321D
color-bad-dark = #AF2824
color-bad-text = color-white

color-good = #54B847
color-good-dark = #4C9944
color-good-text = color-white

color-warning = #E9B510
color-warning-dark = #E19A25
color-warning-text = color-white

color-info = color-secondary
color-info-dark = color-secondary-dark
color-info-text = color-white